* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  display: flex;
}

.container {
  width: 100%;
  background-color: white;
  padding: 30px;

  border-radius: 20px;
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: flex-start;
}

.tab_box {
  width: fit-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(229, 229, 229);
  position: relative;
}

.tab_box .tab_btn {
  font-size: 18px;
  font-weight: 600;
  color: #919191;
  background: none;
  border: none;
  padding: 18px;
  cursor: pointer;
}

.tab_box .tab_btn.active {
  color: #7360ff;
}

.content_box {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.content_box .content {
  display: none;
  text-align: left;
}

.content_box .content.active {
  display: block;
}

.content_box .content h2 {
  margin-bottom: 10px;
  text-align: left;
}

.line {
  position: absolute;
  top: 55px;
  left: 0;
  width: 102px;
  height: 5px;
  background-color: #7360ff;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.heyUser {
  text-align: left;
  margin-left: 25px;
  padding-top: 25px;
}
